.time{
    &__wrap{
        background: $background-gray;
    }
    &__inner{
        position: relative;
        padding: 60px 0;
        &>p{
            color: $text-color-black80;
            font-size: 20px;
            font-weight: 300;
        }
    }
    &__title{
        color: $text-color-black;
        font-family: 'Racama', sans-serif;
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 30px;
    }
    &__text{
        color: $text-color-black;
        font-family: 'Racama', sans-serif;
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 15px 0;
    }

    &__button{
        background-color: $color-black;
        color: $text-color-white;
        top: 87px;
        right: 0;
    }
    &__button:hover{
        background: transparent;
        color: $text-color-black;
        border: $color-black 1px solid;
        transition: .3s;
    }
}

@media  (max-width: 1520px){
    .time{
        &__wrap{
            padding: 0 20px;
        }
    }
}

@media  (max-width: 1200px){
    .time{
        &__inner{
            padding: 50px 0;
        }
        &__wrap{
            padding: 0 10px;
        }
    }
}

@media  (max-width: 1060px){
    .time{
        &__inner{
            text-align: center;
            &>p{
                margin-bottom: 50px;
                font-size: 18px;
            }
        }
        &__button{
            position: static;
        }
        &__text{
            max-width: 80%;
            margin: 0 auto 50px;
            font-size: 22px;
        }
    }
}

@media  (max-width: 650px){
    .time{
        &__title{
            font-size: 25px;
        }
        &__text{
            font-size: 20px;
        }
        &__inner{
            &>p{
                margin-bottom: 50px;
                font-size: 16px;
            }
        }
    }
}
