//Основные цвета сайта 

$color-black: #242424;
$color-white: #FFFFFF;


//Цвет фона модальных окон

$modal-fon-black70: rgba(36, 36, 36, 0.70);

//Цвет текста сайта

//Черный
$text-color-black: #242424;
$text-color-black80:rgba(36, 36, 36, 0.80);

//Белый
$text-color-white: #FFFFFF;
$text-color-white20: rgba(255, 255, 255, 0.20);
$text-color-white50: rgba(255, 255, 255, 0.50);
$text-color-white80: rgba(255, 255, 255, 0.80);


//Дополнительные цвета для сайта

$navig-bac: rgba(36, 36, 36, 0.8);
$border-top: rgba(255, 255, 255, 0.50);
$background-gray: rgba(36, 36, 36, 0.10);
$background-line: rgba(255, 255, 255, 0.20);




